.generic_form {
    background-color: rgb(215, 212, 200);
    margin: 5.5%;
    border-top-style: solid;
    border-top-width: 7px;
    border-top-color: rgb(179, 158, 131);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(179, 158, 131);
    box-shadow: 1px 1px 2px grey;
    max-width: 250px;
}