#news_card {
    float: left;
    width: 25%;
    margin-left: 0px; 
}

#events_card {
    float: left;
    width: 40%;       
}

#featured_person_card {
    float: left;
    width: 25%;  
    margin-right: 0px; 
}

#student_resources_card {
    float: left;
    width: 25%;
    margin-left: 0px; 
}

#publications_card {
    float: left;
    width: 100%;
    margin-top: 0px;
    padding-bottom: 8px;
}

#minor_card {
    float: left;
    width: 25%;
    margin-right: 0px; 
}

#location_card{
    float: left;
    width: 100%;
    height: 75px;
}

#combo_card {
    float: left;
    width: 40%;
    margin: 2.5%;
}

.card_content {
    margin: auto;
    width: 90%;
}

.card_content a {
    font-size: large;
    text-decoration: none;
    color: rgb(155, 22, 29);
}

.news_card_date {
    font-size: small;
}

.news_post .news_card_desc p {
    text-align: center;
    font-size: 1.1rem;
}

.card_content .event_post {
    display: table;
}

.event_post {
    display: table-row;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;  
}

.event_image_wrapper {
    height: 48px;
    width: 48px;
    float: left;
    margin: 24px auto 24px auto;
    border: 1.5px solid black;
    background-color: rgb(179, 158, 131);;

}

.event_content {
    float: left;
    margin: 16px;
    width: 70%;
}

.event_content a {
    text-decoration: underline;
}

.event_image_month {
    padding-top: 5px;
}

.event_image_month,
.event_image_day {
    height: 45%;
    text-align: center;
}

.student_card {
    width: 90%;
    margin: auto;
    height: 100%;

}

#featured_student_image_wrapper {
    margin: auto;
    width: 60%;
}

.topic_header {
    text-align: center;
    font-size: 26px;
}

.topic_header a{
    margin-left: 0px !important;
}

#featured_student_image {
    display: block;
    max-width: 100%;
    object-fit: scale-down;
}

#featured_student_desc p {
    font-size: 1.0rem;
}

.student_card h2  {
    text-align: center;
}

#featured_student_desc {
    text-align: center;
}

#resource_list {
    margin: 16px;
    padding: 0px;
    list-style-type: none;
}

#resource_list li a {
    font-size-adjust: inherit;
    color: rgb(155, 22, 29);
    text-decoration: underline;
    padding: 3px;
}

#resource_list li a:hover {
    color: black;
}

#break_line {
    border-bottom: 2px solid black;
    padding-bottom: 6px;
}

#break_line_lower {
    padding-top: 8px;
}

#table_wrapper {
    width: 100%;
    margin: auto;
}

table {
    width: 80%;
    margin: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: rgb(155, 22, 29);
    color: white;
}

td, th {
    padding: 8px;
}

#minor_card h2 {
    text-align: center;
}

#minor_card p {
    text-align: center;
    font-size: 1.1rem;
    margin-left: 12px;
    margin-right: 12px;
}

#minor_card p a {
    font-size-adjust: inherit;
    color: rgb(155, 22, 29);
    text-decoration: underline;
    padding: 3px;
}

#minor_card p a:hover {
    color: black;
}

@media only screen and (max-width:1000px) {
    /* For mobile phones: */
    #news_card, #events_card, #featured_person_card,
    #student_resources_card, #publications_card,
    #location_card, #minor_card, #combo_card {
      width:100%;
      margin-left: 16px;
      margin-right: 16px; 
    }
    #publications_card,
    #location_card {
        margin-left: 0px;
    }
  }